.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
.main {
  display: flex;
  overflow: hidden;
}
.content-container {
  flex: 1;
  overflow-y: scroll;
  top: 60px;
  bottom: 0px;
  padding: 20px;
}