.signin {
  width:100%;
  height:100%;
  margin:0px;
  padding-top: 10%;
  background:url(../images/login-background.jpg) no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  color:rgba(255,255,255,.95)
}
.signinpanel { 
  width:750px;
  margin: auto;
  font-color: #000;
}
.signinpanel .logopanel {
  float:none;
  width:auto;
  padding:0;
  background:0 0;
}
.signinpanel .signin-info ul {
  list-style:none;
  padding:0;
  margin:20px 0;
}.signinpanel .form-control {
  display:block;
  margin-top:15px;
}
.signinpanel .uname {
  background-color:transparent;
  color:#333;
}
.signinpanel .pword {
  background-color:transparent;
  color:#333;
}
.signinpanel .btn{
  margin-top:15px;
}
.signinpanel form {
  background:rgba(255,255,255,.2);
  border:1px solid rgba(255,255,255,.3);
  -moz-box-shadow:0 3px 0 rgba(12,12,12,.03);
  -webkit-box-shadow:0 3px 0 rgba(12,12,12,.03);
  box-shadow:0 3px 0 rgba(12,12,12,.03);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;padding:30px;
}
.signup-footer {
  border-top:solid 1px rgba(255,255,255,.3);
  margin:20px 0;
  padding-top:15px;
}
@media screen and (max-width:767px) {
  .signinpanel,.signuppanel {
    margin:0 auto;
    width:360px!important;
    padding:20px;
  }
  .signinpanel form {
    margin-top:20px;
   }
  .signup-footer,.signuppanel .form-control {
    margin-bottom:10px;
  }
  .signup-footer .pull-left,.signup-footer .pull-right {
    float:none!important;
    text-align:center;
  }
  .signinpanel .signin-info ul {
    display:none;
  }
}
@media screen and (max-width:320px) {
  .signinpanel,.signuppanel {
    margin:0 20px;
    width:auto;
  }
}
.loginform {
  background:rgba(255,255,255,.2);
  border:1px solid rgba(255,255,255,.3);
  -moz-box-shadow:0 3px 0 rgba(12,12,12,.03);
  -webkit-box-shadow:0 3px 0 rgba(12,12,12,.03);
  box-shadow:0 3px 0 rgba(12,12,12,.03);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  padding:30px;
}